.cardMainContainerCard {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 15%;
  /* background: #eeeeee; */
  border-radius: 15px;
  /* margin: 0 2rem 0 2rem; */
}

.cardimg {
  margin-top: 5%;
  width: 40%;
  height: auto;
}
.cardtitle.profile {
  font-family: Poppins-Normal;
  font-weight: 600;
  font-size: 1.5rem;
  color: #222444;
  text-align: center;
}
